{% extends 'layout.html' %}
{% import 'forms.html' as forms %}

{% block content %}
<h1>Config</h1>
{% if success == '1' %}
    <h2 style="color: green">Successful Reconfig!</h2>
{% elif success == '0' %}
    <h2 style="color: red">Error Reconfiguring, Reverted!</h2>
{% endif %}

<div style="float: left;">
<h2>Current</h2>
<pre>{{ config_str }}</pre>
</div>

<div>
<h2>Modified</h2>
<form name="config" action="/config/reconfig" method="POST">
    <textarea cols="80" rows="100" name="config_text">{{ config_str }}</textarea>
    <br />
    <input type="submit" value="reconfig" >
</form>
</div>

{% endblock %}
